<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dylan James - Software Engineer</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script src="https://unpkg.com/@codersrank/skills-chart@0.9.2/codersrank-skills-chart.min.js"></script>
    <script src="./js/scripts.js"></script>
  </head>
  <body style="background-color: black">
    <style>
      .pt-3 {
        color: white;
      }
      li {
        float: left;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
    </style>
    <%- include("./partials/navbar") %>
    <div class="animate__animated animate__fadeInUp container">
      <section class="landing">
        <div class="row vertical-center" id="landing">
          <div class="col-lg-8 text-left pb-5">
            <h1 class="display-1">
              Your
              <span style="color: rgb(71, 71, 172)">words</span> are powerful.
            </h1>
            <p style="color: white">
              It seems like people have forgotten the foundation of what the
              internet is.
            </p>
          </div>
        </div>
      </section>
      <section class="animate__animated animate__fadeInUp" id="contact">
        <div class="text-left">
          <div class="pt-3">
            <h1>This is a web page.</h1>
            <p>There's not much here.</p>
            <p>Just words.</p>
            <p><strong>And you're reading them.</strong></p>
            <p>
              We've become obsessed with fancy designs, responsive layouts, and
              scripts that do magical things.
            </p>
            <p>
              <strong
                >But the most powerful tool on the web is still words.</strong
              >
            </p>
            <p>
              I wrote these words, and you're reading them:
              <em>that's</em> magical.
            </p>
            <p>
              I'm in a little city in British Columbia; you're probably
              somewhere else. I wrote this early in the morning, June 20th,
              2013; you're reading it at a different time. I wrote this on my
              laptop; you could be reading this on your phone, a tablet or a
              desktop.
            </p>
            <p>
              You and I have been able to connect because<em> I wrote this </em
              >and <em>you're reading it.</em> <strong>That's the web</strong>.
              Despite our different locations, devices, and time-zones we can
              connect <em>here, </em>on a simple HTML page.
            </p>
            <p>
              I wrote this in a text editor. It's 6&nbsp;kB. I didn't need a
              Content Management System, a graphic designer, or a software
              developer. There's not much code on this page at all: just simple
              markup for paragraphs, hierarchy, and emphasis.
            </p>
            <p>
              I remember teaching my daughter to code HTML when she was 8. The
              first thing she wrote was
              <a href="https://justinjackson.ca/squirrel"
                >a story about a squirrel</a
              >. She wasn't "writing HTML";
              <strong>she was sharing something with the world</strong>. She
              couldn't believe that she could write a story on our home
              computer, and then publish it for the world to see. She didn't
              care about HTML; she cared about sharing her stories.
            </p>
            <p><strong>You are still reading.</strong></p>
            <p>
              Think about all the things you could communicate with a simple
              page like this. If you're a businessperson, you could sell
              something. If you're a teacher, you could teach something. If
              you're an artist, you could show something you've made.
              <strong
                >And if your words are good, people will read them.</strong
              >
            </p>
            <p>
              If you're a web designer, I challenge you to think about the words
              first. Instead of starting with a style guide or a Photoshop
              mockup,
              <em>start with words on a page</em>.
            </p>
            <p>
              What do you have to say? If you don't know, there's not much use
              in adding all that other cruft.
              <strong>Just start with one page</strong>, with a single focus.
              Write it and publish it, and then <em>iterate on that</em>. Every
              time you're about to add something, ask yourself: does this help
              me communicate better? Will that additional styling, image, or
              hyperlink give my audience more understanding? If the answer is
              "no," don't add it.
            </p>
            <p>
              <strong>At its heart, web design should be about words</strong>.
              Words don't come <em>after</em> the design is done. Words are the
              beginning, the core, the focus.
            </p>
            <p>Start with words.</p>
          </div>
        </div>
        <br />
        <br />
        <%- include('./partials/footer') %>
      </section>
    </div>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
  </body>
</html>
