<div class='mt-3'>
  <nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <div
         class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="/">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="/github">Github
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="/discord">Discord
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="/rants/webmaster">Webmaster
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="/rants/words">Words
          </a>
        </li>
        </div>
    </div>
    </nav>
</div>